$body--bg: #1D1D1D;
//Top panel
// $panel-top: #1E1E1E;
$panel-top: #151515;
$panel-top--header:#24B474;
//Compact
$compact--button-bg:#383838;
$compact--button-color:#767676;
$compact--button--bg-hover: #24B474;
$compact--button--color-hover: #383838;
//Option
$option--bg:#181818;
$option--checked-bg: #24B474;
$option--checked-color:#181818;
$option--label:#24B474;
//Bottom panel
$panel-bottom: #131313;
//Bottom panel element
$bottom--button-bg:#1A1A1A;
$bottom--button-color:#888;
//Line numbers
$lines-bg: #151515;
$lines-color:#868686;
$lines-focused:#CECECE;
//Comments
$comment-bg: #151515;
$comment--header:#D7930E;
$comment--description:#5A5A5A;
//Content
$active--line:#272727;
$content-color:#FFF;
//Files
$panel-files-bg: #292929;
$file-active-bg:#3F3F3F;
$file-exit-bg:#3E3E3E;
$file-exit-color:#CECECE;
$file-name-color:#DADADA;