@import "colors";

$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

.material-icons {
    @include material-icons();
    font-size: inherit;
}

html {
    font-size: 1rem;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: $body--bg;
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

%flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

%flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

%flex-center-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

%flex-center-end {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
}

%flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

%flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

%flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

%flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

%flex-btw-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

%flex-btw-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

%flex-btw-end {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
}

::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    overflow: auto;
    background-color: #1d1d1d;
}

::-webkit-scrollbar-thumb {
    background: #3D3D3D;
    border: 2px solid #0000;
}

::-moz-scrollbar {
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    overflow: auto;
    background-color: #1d1d1d;
}

::-moz-scrollbar-thumb {
    background: #3D3D3D;
    border: 2px solid #0000;
}

.CodeMirror {
    height: 100%;
    transform: translate3d(0, 0, 0);
}
.CodeMirror-linenumber {
    min-width: 2rem;
}

.CodeMirror-activeline .CodeMirror-linenumber {
    color: #ababab;
}

.from-up-enter-active, .from-up-leave-active {
    transition: transform .2s, opacity .2s;
}
.from-up-enter, .from-up-leave-to {
    transform: translateY(-15rem);
    opacity: 0;
}

.scale-enter-active, .scale-leave-active {
    transition: transform .2s, opacity .2s;
}
.scale-enter, .scale-leave-to {
    transform: scale(1.7);
    opacity: 0;
}

%pointer {
    cursor: pointer;
}

button, input {
    border: 0;
    outline: none;
}

input[type="file"] {
    display: none;
  }

@mixin rectangle($w, $h) {
    width: #{$w};
    height: #{$h};
}