@import "colors";
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';
.material-icons {
    @include material-icons();
    font-size: inherit;
    font-display: swap;
}

html {
    font-size: 1rem;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: $body--bg;
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

%flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

%flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

%flex-center-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

%flex-center-end {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
}

%flex-start-end {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
}

%flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

%flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

%flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

%flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

%flex-btw-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

%flex-btw-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

%flex-btw-end {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
}

%noselect {
    user-select: none;
}

::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    overflow: auto;
    background-color: #1d1d1d;
}

::-webkit-scrollbar-thumb {
    background: #3D3D3D;
    border: 2px solid #0000;
}

::-webkit-scrollbar-corner,
::-webkit-resizer {
    background: #0e0e0e !important;
}

.CodeMirror {
    height: 100% !important;
    transform: translate3d(0, 0, 0);
}

.CodeMirror-linenumber {
    min-width: 2rem;
}

.CodeMirror-activeline .CodeMirror-linenumber {
    color: #ababab;
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
    background: #0e0e0e;
}

.from-up-enter-active,
.from-up-leave-active {
    transition: transform .2s, opacity .2s;
}

.from-up-enter,
.from-up-leave-to {
    transform: translateY(-15rem);
    opacity: 0;
}

.scale-enter-active,
.scale-leave-active {
    transition: transform .2s, opacity .2s;
}

.scale-enter,
.scale-leave-to {
    transform: scale(1.7);
    opacity: 0;
}

.width-to-left-enter-active,
.width-to-left-leave-active {
    transition: transform 0.2s 0.15s, opacity .1s 0.15s;
    transform-origin: bottom right;
}

.width-to-left-enter,
.width-to-left-leave-to {
    transform: scale(0.3) translateY(5rem);
    opacity: 0;
}

.scale-w-center-enter-active,
.scale-w-center-leave-active {
    transition: transform .2s, opacity .2s;
}

.scale-w-center-enter,
.scale-w-center-leave-to {
    transform: translateX(-50%) scale(1.7);
    opacity: 0;
}

%pointer {
    cursor: pointer;
}

button,
input {
    border: 0;
    outline: none;
}

input[name="openFile"] {
    display: none;
}

@mixin rectangle($w, $h) {
    width: #{$w};
    height: #{$h};
}

.editor {
    background-color: #1D1D1D;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
    @extend %flex-center;
    @extend %typo-roboto;
    @include rectangle(100%, 100%);
    .wrap {
        padding: 0.5rem;
        background: rgba(41, 41, 41, 0.75);
        overflow-y: auto;
        position: relative;
        &.modal-wrap--full {
            @include rectangle(100%, 100%);
        }
        h3 {
            margin: 0 0 0.7rem 0;
            font-weight: 400;
            color: $panel-top--header;
            @extend %typo-header;
            @extend %flex-start-center;
            @extend %noselect;
            i {
                font-size: inherit;
                margin: 0 0.3rem 0 0;
            }
        }
        .data {
            margin: 1rem 0 0 0;
            padding: 1rem;
            flex-wrap: wrap;
            @extend %flex-center-start;
            .region {
                margin: 1rem 3rem;
                flex-direction: column;
                flex: 1 0 auto;
                @extend %flex-start;
                display: inline-flex;
                .options {
                    @extend %flex-start;
                    margin: 1rem 0 0 0;
                    padding: 0 0.5rem;
                    width: 450px;
                    max-width: 100%;
                    max-height: 600px;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
                .binds {
                    @extend %flex-start;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
                h5 {
                    color: $comment--header;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .modal {
        .wrap {
            .data {
                .region {
                    margin: 1rem 0;
                    width: 100%;
                    .binds {
                        max-height: initial;
                        flex-wrap: nowrap;
                    }
                }
            }
        }
    }
}